body{
    background:url('background.jpg')no-repeat center center/cover;
    height:100vh;
    text-align:center;

img{
    width:90px;
    margin-top:30px;
}
.design{
    background:rgba(255, 0, 100, 0.45);
    padding:20px;
    width:70%;
    height:53%;
    margin:auto;
}
.design h4{
    color:white;
    padding-bottom:10px;
    border-bottom:1px solid white;
    margin:4px 0 35px 0;
}

.design label{
    text-align:left;
    display:block;
    color:white;
    margin-bottom:5px;
}
.design input{
    width:93%;
    color: solid black;
    border:none;
    padding:8px;
    margin-bottom:10px;
    
}
.design a{
    text-align:right;
    text-decoration:none;
    display:block;
    color:black;
}
.design button{
    width:100%;
    background:black;
    color:white;
    padding:8px;
    border:none;
}